%div.container
 %div.page-header
  %h2= ("Bootstrap #{@message}")
  %p.lead Basic grid layouts to get you familiar with building within the Bootstrap grid system.
    
 %div.row
  %div.col-xs-2= (".col-md-2")
  %div.col-xs-2.bg-success= (".col-md-2")
  %div.col-xs-2.bg-success= (".col-md-2")
  %div.col-xs-3.bg-success= (".col-md-3")
  %div.col-xs-3= (".col-md-3")